<!-- start custom footer snippets -->



<table width="100%">
  <tbody><tr>
    <td style="text-align:center">
      <div style="display:inline-block;width:210px;"><script type="text/javascript" src="//rf.revolvermaps.com/0/0/7.js?i=563zgztxfth&amp;m=6&amp;c=007eff&amp;cr1=ffffff&amp;br=8&amp;sx=0" async="async"></script>
    </div>
    <p class="copy"><small>Last updated: Apr, 2023</small></p>
      <p class="copy"><small>© 2023 XXX</small></p>
   </td>
  </tr>


</tbody></table>

<!-- end custom footer snippets -->
